<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>氢泡泡</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb2037972732</string>
				<string>tb2QUXqO9fcgGdtGG1FcvML6ZunIQzAEL8xY6hIaxdJnDti2DYwM</string>
				<string>ID1105931776APP</string>
				<string>wxf42ec50449767feb</string>
				<string>tencentID1105931776APP</string>
				<string>wb1871771910</string>
				<string>rm226427com.mob.demoShareSDKSwift</string>
				<string>com.mob.demoShareSDK</string>
				<string>tencent1105931776</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Fonts provided by application </key>
	<array>
		<string>mui-icons-extra.ttf</string>
		<string>iconfont.ttf</string>
		<string>mui.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weibosdk</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>mqqwpa</string>
		<string>instagram</string>
		<string>fbauth2</string>
		<string>renren</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>rm226427com.mob.demoShareSDK</string>
		<string>mqq</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>wechat</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>266dafb993dfc</string>
	<key>MOBAppSecret</key>
	<string>96a329375274b4e75b720c22e073454a</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App need to use your Bluetooth</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App need to know your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App need to know your location</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access needed for QRcode</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
